
h1 {
  font-size: 24px;
  margin: 0;
}

.cart-items {
  margin-top: 20px;
}

.cart-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.cart-card-image {
  max-width: 100%;
  height: auto;
}

.cart-card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

p {
  margin: 0;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-button {
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 0 5px;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}

.remove-from-cart-button {
  background-color: #ff3547;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.remove-from-cart-button:hover {
  background-color: #d11723;
}

.total-cart-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.total-cart-price {
  font-size: 20px;
  font-weight: bold;
}

.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #1e7e34;
}
